<div class="container">
  <textarea
    type="text"
    placeholder="Comment"
    [formControl]="textControl"
    [ngClass]="{ expand: expand, required: validateInput() }"
  >
  </textarea>
  <button
    class="save"
    [disabled]="!textControl.valid || loading"
    (click)="saveComment()"
  >
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"> </mat-progress-bar>
  <button class="expand" *ngIf="!expand" (click)="expand = true">
    <i class="material-icons">keyboard_arrow_down</i>
  </button>
</div>
