.container {
  padding: 2em;
  margin: 1em 0;
  background: #c0c0c0;
  border-radius: 0.25em;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 3em;

  .error {
    grid-row: 1;
    grid-column: 1 / span 2;

    color: #ff6060;
    text-align: center;
  }

  textarea {
    grid-row: 2;
    grid-column: 1;

    resize: none;
    min-height: 3em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;

    &.expand {
      height: 10em;
    }

    &.required {
      border: 1px solid #ff6060;
    }
  }

  button.save {
    grid-row: 2;
    grid-column: 2;

    color: #f0f0f0;
    background: #2060a0;
    border-radius: 0 0.5em 0.5em 0;

    &:disabled {
      background: #606060;
    }
  }

  mat-progress-bar {
    grid-row: 3;
    grid-column: 1 / span 2;
  }

  button.expand {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
}
