<h1>BLD Forum (Beta)</h1>
<ng-container *ngIf="loading$ | async; else container">
  <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
</ng-container>

<ng-template #container>
  <ng-container *ngIf="authUser$ | async as user; else login">
    <div>
      <h2>Welcome, {{ user.displayName }}</h2>
      <p>
        Thanks for joining this little experiment. This is still a
        work-in-progress, so expect frequent updates and occasional
        (fingers-crossed) bugs.
      </p>
      <p>
        At the moment this forum is open to anyone with the link, so I humbly
        request that you help me keep this semi-private.
      </p>
      <p>
        My hope is that this can become a place where we can share and discuss
        Bible reflections, prayer requests, and any other faith-related topics.
      </p>
      <p>
        If you find a bug or would like to provide feedback please
        <a href="mailto:mcgrail.p@gmail.com" target="_system">email me</a>.
      </p>
      <h4 class="quote">
        We must consider how to rouse one another to love and good works. We
        should not stay away from our assembly, as is the custom of some, but
        encourage one another, and this all the more as you see the day drawing
        near. (Heb 10:24-25)
      </h4>
      <h2>
        Go read some <a href="posts">posts</a> or update your
        <a href="profile">profile</a>!
      </h2>
    </div>
  </ng-container>
</ng-template>

<ng-template #login>
  <h2>Howdy, Stranger</h2>
  <p>Get started by logging in below.</p>
  <p>
    Logging in will provide the forum with your name, profile picture, and email
    address. No other data from Facebook will be stored. Your email address will
    be kept private. All posts and comments will be visible to any user that
    logs in to the forum.
  </p>
  <button (click)="loginFacebook()">
    <div class="login-button">
      <img src="assets\f_logo_RGB-Blue_144.png" />
      <span>Login with Facebook</span>
    </div>
  </button>
</ng-template>
