<h1>BLD Forum (Beta)</h1>
<ng-container *ngIf="authUser$ | async as user; else login">
  <div>
    <h2>Welcome, {{ user.displayName }}</h2>
    <p>
      Thanks for joining this little experiment. This is still a
      work-in-progress, so expect frequent updates and occasional
      (fingers-crossed) bugs.
    </p>
    <p>
      At the moment this forum is open to anyone with the link, so I humbly
      request that you help me keep this semi-private. That being said, feel
      free to share it with other members of BLD from any district.
    </p>
    <p>
      My hope is that this can become a place where we can share and discuss
      Bible reflections, prayer requests, and any other faith-related topics.
    </p>
    <p>
      If you find a bug or would like to provide feedback please
      <a href="mailto:mcgrail.p@gmail.com" target="_system">email me</a>.
    </p>
    <h5>
      We must consider how to rouse one another to love and good works. We
      should not stay away from our assembly, as is the custom of some, but
      encourage one another, and this all the more as you see the day drawing
      near. (Heb 10:24-25)
    </h5>
  </div>
</ng-container>

<ng-template #login>
  <h2>Howdy, Stranger</h2>
  <p>Get started by logging in below.</p>
  <p>
    Logging in will provide the forum with your name, profile picture, and email
    address. No other data from Facebook will be stored.
  </p>
  <button (click)="loginFacebook()">
    <div class="login-button">
      <img src="assets\f_logo_RGB-Blue_144.png" />
      <span>Login with Facebook</span>
    </div>
  </button>
</ng-template>
