.container {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  background: #404040;

  .tab {
    display: flex;

    &.selected {
      background: #303030;
    }

    a {
      color: #f0f0f0;
      padding: 1em 2em;
    }
  }
}
