.container {
  padding: 2em;
  margin: 1em 0;
  position: relative;
  border-radius: 0.25em;
  background: #ffffff;

  display: grid;
  grid-template-areas:
    'user date'
    'text text';

  .user {
    grid-area: user;
  }

  .date {
    grid-area: date;

    text-align: end;
    color: #a0a0a0;
    font-size: 0.8em;
    align-self: center;
  }

  .text {
    grid-area: text;

    margin: 1em 0 0;
    color: #404040;
    white-space: pre-wrap;
  }

  .actions {
    position: absolute;
    bottom: 0;
    right: 1em;
    color: #a0a0a0;
    cursor: pointer;

    &:hover {
      color: #404040;
    }

    @media screen and (min-width: 768px) {
      bottom: 1em;
      right: 2em;
    }
  }
}
