.container {
  padding: 2em;
  margin: 1em 0;
  border-radius: 0.25em;
  background: #ffffff;

  display: grid;
  grid-template-areas:
    'user date'
    'text text';

  .user {
    grid-area: user;
  }

  .date {
    grid-area: date;
    text-align: end;
    color: #a0a0a0;
    font-size: 0.8em;
    align-self: center;
  }

  .text {
    grid-area: text;
    color: #404040;
  }
}
