.container {
  padding: 2em;
  border-radius: 0.25em;
  background: #ffffff;

  display: grid;
  grid-template-areas:
    'user date'
    'title title'
    'text text';

  .user {
    grid-area: user;
  }

  .date {
    grid-area: date;

    text-align: end;
    color: #a0a0a0;
    font-size: 0.8em;
    align-self: center;
  }

  .title {
    grid-area: title;

    margin: 0.5em 0;
    color: #404040;
    font-weight: 500;
  }

  .text {
    grid-area: text;

    color: #404040;
  }
}
