<div class="container">
  <app-user-tag class="user" [userId]="post.userId"></app-user-tag>
  <div class="date">{{ post.createdDate | date: 'MMM, d yyyy h:mm a' }}</div>
  <h1 class="title">{{ post.title }}</h1>
  <ng-container *ngIf="post.linkType">
    <span *ngIf="post.linkType === 1" class="link">
      Open Link<i class="material-icons">keyboard_arrow_right</i>
      <a target="_blank" [href]="post.url"
        ><strong>{{ post.url }}</strong></a
      >
    </span>
    <div *ngIf="post.linkType === 2" class="image">
      <img [src]="post.url" />
    </div>
  </ng-container>
  <div class="text">{{ post.text }}</div>
  <div class="actions" [matMenuTriggerFor]="actions">
    <i class="material-icons">more_horiz</i>
  </div>
</div>

<mat-menu #actions="matMenu">
  <button *ngIf="owner" mat-menu-item [matMenuTriggerFor]="deleteConfirm">
    Delete
  </button>
  <button *ngIf="!owner" mat-menu-item [matMenuTriggerFor]="reportConfirm">
    Report
  </button>
</mat-menu>

<mat-menu #deleteConfirm="matMenu">
  <button mat-menu-item disabled>Are you sure? (cannot be undone)</button>
  <button mat-menu-item (click)="onDelete()">Yes</button>
  <button mat-menu-item>No</button>
</mat-menu>

<mat-menu #reportConfirm="matMenu">
  <button mat-menu-item disabled>Are you sure?</button>
  <button mat-menu-item (click)="onReport()">Yes</button>
  <button mat-menu-item>No</button>
</mat-menu>
