<div class="container">
  <app-user-tag class="user" [userId]="post.userId"></app-user-tag>
  <div class="date">{{ post.createdDate | date: 'MMM, d yyyy h:mm a' }}</div>
  <h1 class="title">{{ post.title }}</h1>
  <ng-container *ngIf="post.linkType">
    <span *ngIf="post.linkType === 1" class="link">
      Open Link<i class="material-icons">keyboard_arrow_right</i>
      <a target="_blank" [href]="post.url"
        ><strong>{{ post.url }}</strong></a
      >
    </span>
    <div *ngIf="post.linkType === 2" class="image">
      <img [src]="post.url" />
    </div>
  </ng-container>
  <div class="text">{{ post.text }}</div>
</div>
