.new-post {
  display: flex;
  margin-bottom: 1em;

  a {
    width: 5em;
    padding: 1em;
    color: #ffffff;
    text-align: center;
    border-radius: 0.5em;
    background: #2060a0;
  }
}

.expand {
  button {
    display: flex;
    margin: auto;
    align-items: center;
  }
}
