.back {
  margin-bottom: 1em;
}

.post-error {
  margin: 1em;
  color: #ff6060;
  text-align: center;
}

.comments-empty {
  margin: 1em;
  color: #808080;
  text-align: center;

  &.error {
    color: #ff6060;
  }
}
