<div class="back">
  <app-back-button [link]="'posts/' + category"></app-back-button>
</div>
<div *ngIf="post$ | async as post; else noPost">
  <app-post-card [post]="post" (delete)="deletePost()" (report)="reportPost()">
  </app-post-card>
  <app-comment-list
    [pages]="pages"
    [authId]="authId"
    [postId]="postId"
  ></app-comment-list>
  <app-comment-form [authId]="authId" [postId]="postId"> </app-comment-form>
</div>

<ng-template #noPost>
  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
</ng-template>
