<div class="back">
  <app-back-button [link]="'posts/' + category"></app-back-button>
</div>
<div *ngIf="post$ | async as post">
  <app-post-card [post]="post"> </app-post-card>
  <div *ngIf="comments$ | async as comments; else noComments">
    <ng-container *ngFor="let comment of comments">
      <app-comment-card [comment]="comment"></app-comment-card>
    </ng-container>
  </div>
  <div class="pagination" *ngIf="pages">
    <app-pagination
      [max]="pages"
      (prev)="loadPrevComments()"
      (next)="loadNextComments()"
    >
    </app-pagination>
  </div>
  <div>
    <app-comment-form [text]="commentText" (saveComment)="saveComment()">
    </app-comment-form>
  </div>
</div>

<ng-template #noComments [ngSwitch]="loadingComments">
  <mat-progress-bar *ngSwitchCase="true" mode="indeterminate">
  </mat-progress-bar>
  <div *ngSwitchCase="false" class="no-comments">No comments yet</div>
</ng-template>
