.back {
  display: flex;
  width: fit-content;
  margin-bottom: 1em;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.no-comments {
  margin: 1em;
  text-align: center;
}
