<div *ngIf="comments$ | async as comments; else noComments">
  <ng-container *ngFor="let comment of comments">
    <app-comment-card
      [comment]="comment"
      (delete)="deleteComment(comment.uid)"
      (report)="reportComment(comment.uid)"
    ></app-comment-card>
  </ng-container>
  <div *ngIf="!comments?.length" class="comments-empty">No comments yet</div>
</div>
<div class="pagination" *ngIf="pages">
  <app-pagination
    [max]="pages"
    (prev)="loadPrevComments()"
    (next)="loadNextComments()"
  >
  </app-pagination>
</div>

<ng-template #noComments>
  <mat-progress-bar mode="indeterminate"> </mat-progress-bar>
</ng-template>
