<div *ngIf="authUser$ | async as user">
  <div class="auth">
    <h1>Hey {{ user.displayName }}</h1>
    <button class="logout" (click)="logout()">Logout</button>
  </div>

  <p class="image">
    <img [src]="user.photoURL" />
    <span>Lookin' good, tell us where you're from</span>
  </p>

  <form [formGroup]="form">
    <div *ngIf="userError" class="user-error">Error saving user info</div>
    <div class="district">
      <label for="district">District:</label>
      <select id="district" formControlName="district">
        <ng-container *ngFor="let district of districts">
          <option [value]="district">{{ district }}</option>
        </ng-container>
      </select>
    </div>
    <div class="se-class">
      <label for="seClass">SE Class:</label>
      <input
        id="seClass"
        type="number"
        min="1"
        max="99"
        formControlName="seClass"
      />
    </div>
    <button
      class="save"
      [disabled]="!form.valid || form.pristine || userLoading"
      (click)="saveUserInfo()"
    >
      Save
    </button>
  </form>
  <mat-progress-bar *ngIf="userLoading" mode="indeterminate"></mat-progress-bar>
</div>
