div.auth {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-weight: 500;
  }

  button.logout {
    height: 3em;
    padding: 1em;
    color: #e0e0e0;
    border-radius: 0.5em;
    background: #202020;
  }
}

p.image {
  color: #404040;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 3em;
    margin-right: 1em;
    border-radius: 1.5em;
  }
}

form {
  padding: 1em;
  border-radius: 0.5em;
  background: #c0c0c0;

  display: grid;
  align-items: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;

  label {
    font-size: 1em;
    color: #606060;
    margin-right: 1em;
  }

  select {
    padding: 0.25em;
    font-size: 1.2em;
    border-radius: 0.25em;
  }

  input {
    padding: 0.25em;
    font-size: 1.2em;
    border-style: none;
    border-radius: 0.25em;
  }

  button.save {
    grid-row: 2;
    grid-column: 2;

    height: 3em;
    padding: 0 2em;
    font-size: 1em;
    margin-top: 1em;
    color: #e0e0e0;
    border-radius: 0.5em;
    background: #2060a0;

    &:disabled {
      background: #606060;
    }
  }
}

@media screen and (min-width: 768px) {
  form {
    grid-template-rows: 100%;
    grid-template-columns: auto auto auto;

    button.save {
      grid-row: 1;
      grid-column: 3;

      margin-top: 0;
    }
  }
}
