<div class="back">
  <app-back-button [link]="'posts/' + category"></app-back-button>
</div>
<div class="container">
  <form [formGroup]="form">
    <div class="user">
      Posting as <strong>{{ userName }}</strong> in
      <strong>{{ category }}</strong>
    </div>
    <input
      type="text"
      class="title"
      placeholder="Title"
      formControlName="title"
      [ngClass]="{
        required: validateInput('title')
      }"
    />
    <div class="link">
      <label>Link</label>
      <select formControlName="linkType">
        <option [value]="0">None</option>
        <option [value]="1">URL</option>
        <option [value]="2">Image</option>
      </select>
    </div>
    <div *ngIf="form.get('linkType').value !== 0" class="url">
      <span>http://</span>
      <input type="text" formControlName="url" />
    </div>
    <textarea
      class="text"
      placeholder="Text"
      formControlName="text"
      [ngClass]="{
        required: validateInput('text')
      }"
    ></textarea>
    <div class="errors">
      <div *ngIf="validateInput('title')">
        Title {{ getLengthError('title') }}
      </div>
      <div *ngIf="validateInput('text')">Text {{ getLengthError('text') }}</div>
    </div>
    <button [disabled]="!form.valid || postLoading" (click)="createPost()">
      Post
    </button>
  </form>
</div>
<mat-progress-bar *ngIf="postLoading" mode="indeterminate"></mat-progress-bar>
