<div class="back">
  <app-back-button [link]="'posts/' + category"></app-back-button>
</div>
<div class="container">
  <form [formGroup]="form">
    <div class="user">
      Posting as <strong>{{ userName }}</strong>
    </div>
    <input
      type="text"
      class="title"
      placeholder="Title"
      formControlName="title"
      [ngClass]="{
        required: validateInput('title')
      }"
    />
    <textarea
      class="text"
      placeholder="Text"
      formControlName="text"
      [ngClass]="{
        required: validateInput('text')
      }"
    ></textarea>
    <div class="errors">
      <div *ngIf="validateInput('title')">
        Title {{ getLengthError('title') }}
      </div>
      <div *ngIf="validateInput('text')">Text {{ getLengthError('text') }}</div>
    </div>
    <button [disabled]="!form.valid" (click)="createPost()">Post</button>
  </form>
</div>
