li {
  padding: 1em;
  border-bottom: 1px solid #b0b0b0;

  a {
    display: grid;
    align-items: center;
    text-decoration: none;
    grid-template-columns: 50% 50%;

    .text {
      font-size: 1.2rem;
      color: #404040;
    }

    .subtext {
      font-size: 0.8rem;
      color: #606060;
    }
  }
}

:host:last-child li {
  border-bottom: 0;
}
