li {
  border-bottom: 1px solid #e0e0e0;

  a {
    padding: 1em;

    display: grid;
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;

    .text {
      grid-row: 2;
      grid-column: 1 / span 2;

      color: #404040;
      font-size: 1.2rem;
      margin-top: 0.25em;
    }

    .subtext {
      color: #a0a0a0;
      font-size: 0.8rem;
      justify-self: right;
    }
  }
}

:host:last-child li {
  border-bottom: 0;
}

@media screen and (min-width: 768px) {
  li {
    a {
      grid-template-rows: 100%;
      grid-template-columns: 50% 25% 25%;

      .text {
        grid-row: 1;
        grid-column: 1;

        margin-top: 0;
      }
    }
  }
}
