li {
  padding: 1em;
  border-bottom: 1px solid #e0e0e0;

  a {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;

    .text {
      font-size: 1.2rem;
      color: #404040;
    }

    .subtext {
      font-size: 0.8rem;
      color: #a0a0a0;
    }
  }
}

:host:last-child li {
  border-bottom: 0;
}
