li {
  border-bottom: 1px solid #e0e0e0;

  a {
    padding: 1em;

    display: grid;
    grid-template:
      'meta-primary meta-secondary'
      'primary primary'
      'secondary secondary';
    align-items: center;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;

    @media screen and (min-width: 768px) {
      grid-template:
        'primary meta-primary meta-secondary'
        'secondary meta-primary meta-secondary';
      grid-template-rows: auto auto;
      grid-template-columns: 50% 25% 25%;
    }
  }
}
