.icon {
  width: 1em;
  height: 1em;
  color: #ffffff;
  margin-left: 0.5em;
  align-items: center;
  display: inline-flex;
  border-radius: 0.5em;
  justify-content: center;
  background-color: #808080;

  span {
    font-size: 0.8em;
  }
}